/* stuck 'em in a separate file because it was horrendous to look at */
.review.hardcoded .profile-pic {
  background-image: url("https://msnicelupe.neocities.org/vault/guestbook/pfps/hardcoded.png");
}
.review.goatboy45 .profile-pic {
  background-image: url("https://msnicelupe.neocities.org/vault/guestbook/pfps/goatboy45.png");
}
.review.ilovemidna .profile-pic {
}
.review.xxx-darkness-xxx .profile-pic {
  background-color: black;
}
.review.justanothermug .profile-pic {
}
.review.arizonaicet .profile-pic {
}
.review.grandmaster-flash-bandicoot .profile-pic {
}
.review.justwokeuphere .profile-pic {
}
.review.hideokojima .profile-pic {
  background-image: url("https://msnicelupe.neocities.org/vault/guestbook/pfps/hideokojima.png");
}
.review.glados-boyfriend .profile-pic {
  background-image: url("https://msnicelupe.neocities.org/vault/guestbook/pfps/glados-boyfriend.png");
}
.review.crysiscore .profile-pic {
}
.review.neverknowsbest .profile-pic {
  background-image: url("https://msnicelupe.neocities.org/vault/guestbook/pfps/neverknowsbest.png");
}
.review.mr-bones .profile-pic {
  background-image: url("https://msnicelupe.neocities.org/vault/guestbook/pfps/mr-bones.png");
}
