#imgContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}
#imgHeroContainer {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}
#imgHero {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16 / 9;
}
#leftBtn,
#rightBtn {
  width: 0;
  height: 0;
  flex-shrink: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  position: absolute;
  border: 0;
}
#leftBtn {
  left: 15px;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 30px solid white;
}
#rightBtn {
  right: 15px;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid white;
}
#imgThumbs {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  align-self: center;
  list-style: none;
  margin: 0;
}
.thumb {
  height: 80px;
}

.thumb img {
  height: 100%;
  object-fit: cover;
}
