#imgContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}
#imgHeroContainer {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}
#imgHero {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16 / 9;
}

#leftBtn,
#rightBtn {
  width: 0;
  height: 0;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  align-self: center;
  position: absolute;
  border: 0;
}
#leftBtn {
  left: 15px;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 30px solid rgba(254, 254, 254, 0.5);
}
#rightBtn {
  right: 15px;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid rgba(254, 254, 254, 0.5);
}

#imgThumbs {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  align-self: center;
  list-style: none;
  margin: 0;
  max-width: 100%;
}
.thumb {
  height: 80px;
}

.thumb img {
  height: 100%;
  object-fit: cover;
}
