:root {
  --max-size: 1200px;

  --headerfont: "Montserrat Alternates", sans-serif;
  --bodyfont: "Montserrat";

  --white: #fefefe;
  --black: #35323c;
  --purple: #886eb2;
  --lavender: #aa7fb7;
  --lilac: #bdaccb;
  --peony: #eacbef;
  --pale: #d7cfe7;
  --grey: #6f6a7f;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.gradient-72 {
  background-image: linear-gradient(
    72deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.3)
  );
}
.gradient-180 {
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.3)
  );
}
.gradient-288 {
  background-image: linear-gradient(
    288deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.3)
  );
}
.drop-shadow {
  box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.8);
}
.block {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--white);
  background-color: var(--lilac);
  border-radius: 3px;
}
.block ul {
  display: flex;
  flex-flow: column nowrap;
  gap: 5px;
}
.block li {
  background-image: linear-gradient(90deg, var(--purple), var(--lilac));
  width: 100%;
  padding: 5px;
  border-radius: 3px;
}
h1,
h2,
h3,
h4,
h5,
header {
  font-family: var(--headerfont);
  color: var(--white);
}
body {
  background-color: var(--black);
}
body a {
  color: var(--peony);
}
body > * {
  margin: 0 auto;
}

button {
  width: fit-content;
  background-color: var(--purple);
  color: var(--white);
  padding: 10px;
  border-radius: 3px;
  border: 1px solid var(--purple);
  text-transform: uppercase;
}
button:active {
  background-color: var(--peony);
}
input,
textarea {
  background-color: var(--black);
  color: var(--white);
  border-radius: 3px;
  padding: 5px;
}
input:focus,
textarea:focus {
  background-color: var(--white);
  color: var(--black);
}

header {
  background-color: var(--lavender);
}
header nav {
  max-width: var(--max-size);
  margin: 0 auto;
  padding: 15px 0 15px 0;
  text-transform: uppercase;
}
header nav ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 15px;
}
header nav ul li:first-of-type {
  margin-right: 50px;
  font-size: 1.4em;
}
header nav a {
  color: var(--white);
  text-decoration: none;
  line-height: 64px; /* dodgy way to get around a vertical misalignment that i couldn't quite diagnose */
}
header nav img {
  vertical-align: middle;
  padding-right: 5px;
}

main {
  max-width: var(--max-size);
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
}
#productPage {
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
  color: var(--white);
}
#productPageTitle {
  margin: 25px 0 25px 0;
}
#productPageTop {
  display: flex;
  gap: 15px;
  padding: 15px;
  background-color: var(--grey);
}
#imgContainer {
  flex-basis: 70%;
  background-color: var(--black);
}
#productBrief {
  display: flex;
  flex-flow: column nowrap;
  flex-basis: 30%;
  font-family: var(--bodyfont);
}
#productBriefImg {
}
#productBriefDesc {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
}

#productBody {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
  padding: 15px;
  background-color: var(--grey);
  font-family: var(--bodyfont);
}
#productBody .left {
  width: 70%;
}
#productDesc {
  display: flex; /* display:flex everything! hahaha! */
  flex-flow: column nowrap;
  gap: 15px;
}
.product-img {
  width: 100%;
}

#productBody .right {
  flex-grow: 1;
}
#buyBtnContainer {
  width: 100%;
  border-radius: 3px;
  padding: 15px;
  background-color: var(--lilac);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-family: var(--bodyfont);
  align-items: center;
}

/* review-form-specific style */
#reviewForm {
  display: flex;
  flex-flow: column nowrap;
  gap: 15px; /* 15px just seems like a comfortable, sensible amount. you'll see me use it everywhere like a visual crutch */
  padding: 10px;
  margin: 0 20px 0 20px;
  border: 1px solid var(--purple);
  background-color: var(--lavender);
  border-radius: 3px;
  font-family: var(--bodyfont);
}
#reviewForm label {
  text-transform: capitalize;
  width: 75px;
}
#reviewForm div {
  display: flex;
  gap: 15px;
}
#reviewForm #nameBlock {
}
#reviewForm #reviewBlock label {
  align-self: start;
}
#reviewForm textarea {
  height: 15em;
  width: 100%;
}
#reviewForm button {
  align-self: end;
}

/* review-display-specific style */
#reviewsContainer {
  background-color: var(--grey);
}
#reviewsList {
  display: flex;
  flex-flow: column nowrap;
  list-style-type: none;
  gap: 15px;
  padding: 15px;
}
.review {
  display: flex;
  flex-flow: row nowrap;
  border-radius: 3px;
  padding: 15px;
  background: var(--grey);
  color: var(--white);
  font-family: var(--bodyfont);
}
.review .left {
  flex-basis: 150px;
}
.review .left img {
  width: 100px;
  height: 100px;
}
.review .right {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
}
.review .username {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 14px;
  overflow: none;
}
.review .rating {
}
.review .review-text {
}

footer {
  font-family: var(--bodyfont);
  background-color: var(--lavender);
  color: var(--white);
  padding: 30px;
}

/* yeah yeah don't get me wrong, i know at this point it seems like i'm abdicating the requirement of mobile-friendliness with so few media rules as these, but i genuinely tried to design the structure of the page to require as little re-jigging as possible. i think i largely got away with it, but if this was a lazy or under-engineered approach i am happy to be told so! */
/* also weird to find out you can't use CSS vars with media queries? odd */
@media (max-width: 800px) {
  #productPageTop {
    flex-flow: column nowrap;
  }
  #productBody {
    flex-flow: column-reverse nowrap;
  }
}
@media (max-width: 1200px) {
  header {
    padding-left: 15px;
    padding-right: 15px;
  }
}
